body {

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    background-image: url(img/sfondo.jpg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    margin-top: 0px;
}

.logo {
    height: 20%;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.container {
    height: 700px;
    width: 700px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/sfondonero.jpg);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}

h1 {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
}


h3 {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 270px;
    margin-right: 270px;
    color: #9a2e2f;
}

p {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

#personas_box {
    display: flex;
    margin-left: 450px;
    margin-right: 445px;
}

#hour_box {
    display: flex;
    margin-left: 70px;
    margin-right: 65px;
    margin-bottom: 30px;
}

#last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9a2e2f;
}